body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  background-color: #161616;
}

.app-bar {
  -webkit-app-region: drag;
  display: flex;
  justify-content: end;
  height: 32px;
}

.app-container {
  flex: 1;
}
